*{
    font-family: "Nunito", sans-serif;
}

.firstContainer{
    display: flex;
    width: 90vw;
    margin: 60px auto;
    height: 400px;
    height: auto;
}

.infoContainer{
    width: 50%;
}
.infoContainer h2{
    color: red;
}
.infoContainer p{
    margin-top: 30px;
}
.imgContainer{
    width: 50%;
    /* display: flex;
    align-items: center; */
    margin-top: 65px;
}
.imgContainer img{
    width: 96%;
    border-radius: 10px;
    margin-left: 20px;
}
.careerInfo{
    width: 90vw;
    margin: auto;
    margin-top: 10px;
}
.careerInfo p{
    width: 80%;
    margin: auto;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .fullWidth{
        width: 90vw;
    }
    .infoContainer p{
        margin-top: 5px;
        font-size: small;
    }
    .firstContainer{
        margin: 10px auto;
    }
    .careerInfo{
        width: 100vw;
        margin-bottom: 20px;
        height: auto;

    }
    .careerInfo p{
        width: 90%;
        text-align: justify;
    }
    /* .imgContainer{
        display: inline-block
    } */
}